# RPC
# Local: http://localhost:8547
RPC_URL="http://localhost:8547"
# PK of the deployer
PRIVATE_KEY=0xb6b15c8cb491557369f3c7d2c287b053eb229daa9c22138887752191c9520659
# Address of the deployer
ADDRESS=0x3f1Eae7D46d88F08fc2F8ed27FCb2AB183EB2d0E
# Deployed contract address
CONTRACT_ADDRESS=0xdb2d15a3eb70c347e0d2c2c7861cafb946baab48
# Whether or not to print information in the node logs
PRINT_LOGS=true