# RPC
# Local: http://localhost:8547
RPC_URL="http://localhost:8547"
# PK of the deployer
PRIVATE_KEY=0xb6b15c8cb491557369f3c7d2c287b053eb229daa9c22138887752191c9520659
# Deployed contract address
CONTRACT_ADDRESS=
# Whether or not to print information in the node logs
PRINT_LOGS=true